{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1>New student <a class="btn btn-primary" href="{{ path('student_index') }}"><i class="fa fa-angle-left"></i></a></h1>
	{% include 'student/_form.html.twig' %}
</div>
{% endblock %}